<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>IdolMaker</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <script src="/pikaday"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  <link rel="stylesheet" type="text/css" href="/pikaday.css">
</head>
<body id="account-body" class="message-body">
  <div id="account-area">
    <h3 id="page-title">Apply Here</h3>
    <p id="app-desc">Make Your Dreams Come True</p>
    <section id="makeApplicant"></section>
    <nav>
      <div class="login" id="login-text">Are you an existing user?  <a id="loginButton" href="/login">Login</a></div>
    </nav>
  </div>


  <script src="/assets/apply.js"></script>
  <script src="/assets/helper.js"></script>
</body>
</html>
